HELP.md
target/
mvnw
mvnw.cmd
**/.mvn/wrapper/**
### Ignore vim swp files
*.swp
### Ignore application.yml properties
**/*.yml
AppDB.mv.db
lib/
*/application.properties
src/main/resources/application.properties

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
.DS_Store/*

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/
